.App {
  font-family: sans-serif;
  text-align: center;
}

.item-container {
  display: flex;
  align-items: center;
  margin: 8px 0;
  cursor: move;
}

.drag-icon {
  margin-right: 8px;
  margin-left: 10px;
  cursor: grab;
}

.item {
  flex-grow: 1;
  padding: 16px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.item.dragging {
  opacity: 0.5;
}
